.al-border-color-blue{
    border: solid 1px #61dafb;
}
.al-border-color-green{
    border: solid 1px #00d695;
}
.al-border-color-red{
    border: solid 1px #fb3434;
}
.al-border-color-yellow{
    border: solid 1px #fbfb92;
}
